:root {
    --color-primary : #4285F4;
    --color-secondary : #F6F6F6;

    --color-black : #000000;
    --color-white : #FFFFFF;

    --font-primary : monospace;
    --font-secondary : 'Gendy';
}

@font-face {
    font-family: 'Gendy';
    src: url('../fonts/Gendy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-secondary);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 150px;
    padding-right: 150px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-logo {
    background-image: url('/assets/img/profile.jpg');
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    border:var(--color-secondary) 1px solid;
}

nav h1 {
    padding: 10px;
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin-left: auto;
    padding: 0;
    display: flex;
}

nav li {
    padding: 10px 20px;
}

nav a {
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Main Hero Section */

main {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

main .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    min-height: 90vh;
    padding-left: 150px;
    padding-right: 150px;
}

main .hero h1 {
    font-size: 100px;
    margin-bottom: 20px;
    font-family: var(--font-secondary);
}

main .hero p {
    font-size: 30px;
    margin-bottom: 40px;
    color: var(--color-primary);
    font-family: var(--font-primary);
}

main .resume-link {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 16px;
    font-family: var(--font-primary);
    width: 140px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

main .resume-link:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: var(--color-primary) 1px solid;
}

/* Main Our Headquarter Section */

main .our-headquarter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    padding-left: 150px;
    padding-right: 150px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

main .our-headquarter h1 {
    width: 100%;
    font-size: 50px;
    font-family: var(--font-secondary);
    margin-bottom: 50px;
    text-align: center;
}

main .our-headquarter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 300px;
    text-align: center;
}

main .our-headquarter-item .headquarter-image-1 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b6/Jakarta_Skyline_Part_2.jpg');
}
main .our-headquarter-item .headquarter-image-2 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/43/Bandung_View_dari_Gedung_Wisma_HSBC_Asia_Afrika_4.jpg');
}
main .our-headquarter-item .headquarter-image-3 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/09/Central_Surabaya_view_taken_from_JW_Marriott_Surabaya.jpg');
}

main .our-headquarter-item .headquarter-image-1, main .our-headquarter-item .headquarter-image-2, main .our-headquarter-item .headquarter-image-3 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid var(--color-secondary);
    margin-bottom: 20px;
}

main .our-headquarter-item h3 {
    font-size: 20px;
    font-family: var(--font-secondary);
    margin-bottom: 10px;
}

main .our-headquarter-item p {
    font-size: 18px;
    font-family: var(--font-primary);
    color: var(--color-secondary);
}

/* Main message-us Section */

main .message-us {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    padding-left: 200px;
    padding-right: 200px;
    background-color: var(--color-secondary);
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

main .message-us h1 {
    font-size: 40px;
    margin-bottom: 15px;
    font-family: var(--font-secondary);
    color: var(--color-black);
}

main .message-us p {
    font-size: 15px;
    margin-bottom: 40px;
    color: var(--color-primary);
    font-family: var(--font-primary);
}

main .message-us form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .message-us form input {
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    padding: 10px 20px;
    font-size: 12px;
    font-family: var(--font-primary);
}

main .message-us form textarea {
    height: 100px;
    width: 505px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    padding: 10px 20px;
}

main .message-us form input:hover,
main .message-us form textarea:hover {
    border-color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-secondary);
    color: var(--color-secondary);
}

main .message-us form input:focus,
main .message-us form textarea:focus {
    border-color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-secondary);
    color: var(--color-secondary);
}

main .message-us form input::placeholder,textarea::placeholder {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 12px;
}

main .message-us form input:hover::placeholder,
main .message-us form textarea:hover::placeholder {
    color: var(--color-secondary);
}

main .message-us form input:focus::placeholder,
main .message-us form textarea:focus::placeholder {
    color: var(--color-secondary);
}

main .message-us form input[type="date"] {
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    padding: 10px 20px;
    font-size: 12px;
    font-family: var(--font-primary);
}

main .message-us form .gender {
    display: flex;
    justify-content: flex-start;
    width: 500px;
    margin-bottom: 20px;
    gap: 20px;
}

main .message-us form .gender label {
    font-family: var(--font-primary);
    font-size: 12px;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 5px;
}

main .message-us form .gender input[type="radio"] {
    width: 18px;
    height: 18px;
    accent-color: var(--color-primary);
}

main .message-us form input[type="date"] {
    color: var(--color-primary);
}

main .message-us form input[type="date"]:hover,
main .message-us form input[type="date"]:focus {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-color: var(--color-secondary);
}

main .message-us form button {
    margin-top: 20px;
    width: 550px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: pointer;
    font-size: 12px;
    font-family: var(--font-primary);
}

main .message-us form button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: var(--color-primary) 1px solid;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--color-secondary);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    font-family: var(--font-primary);
    color: var(--color-black);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--color-primary);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-family: var(--font-primary);
}